<head>
    <link rel="stylesheet" href="/css/partials/footer.css" type="text/css">
</head>
<footer id="contato" data-footer="bar">

    <div class="footer-area container flex-between">

        <div class="footer-area-left">
            <a href="/" class="footer-logo"><img src="/assets/img/logo.png" alt=""></a>
            <div class="footer-desc-text">
                <p>Cozinhamos a comida mais saborosa que você vai provar na sua vida.</p>
            </div>
            <div class="footer-icons">
                <a href=""><img src="/assets/icons/instagram.png" alt=""></a>
                <a href=""><img src="/assets/icons/facebook.png" alt=""></a>
                <a href=""><img src="/assets/icons/twitter.png" alt=""></a>
            </div>
        </div>

        <div class="footer-area-right">
            <div class="footer-sobre flex-column">
                <h2>Sobre</h2>
                <ul>
                    <li><a href="">Sobre Nós</a></li>
                    <li><a href="">Recursos</a></li>
                    <li><a href="">Novidades</a></li>
                    <li><a href="">Menu</a></li>
                </ul>
            </div>

            <div class="footer-companhia flex-column">
                <h2>Companhia</h2>
                <ul>
                    <li><a href="">Por Que Burguer King?</a></li>
                    <li><a href="">Seja Nosso Parceiro</a></li>
                    <li><a href="">SAC</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </div>

            <div class="footer-suporte flex-column">
                <h2>Suporte</h2>
                <ul>
                    <li><a href="">Conta</a></li>
                    <li><a href="">Contro De Apoio</a></li>
                    <li><a href="">Comentários</a></li>
                    <li><a href="">Contate-Nos</a></li>
                </ul>
            </div>

            <div class="footer-contato flex-column">
                <h2>Entrar Em Contato</h2>
                <ul>
                    <li><a href="">Pergunta Ou FeedBack?</a></li>
                    <li><a href="">Nós Adoraríamos Ouvir De Você</a></li>
                </ul>
                
                <div class="input-text-footer">
                    <input type="text" placeholder="Fale Conosco">
                    <button><img src="/assets/icons/navigation.png" alt=""></button>
                </div>
            </div>
        </div>

    </div>
    
</footer>