<head>
    <link rel="stylesheet" href="/css/partials/header.css" type="text/css">
</head>
<header id="header-index">

    <div class="header-area container flex-between">
        <a href="/" class="img-logo flex-center">
            <img src="/assets/img/logo.png" alt="">
        </a>
    
       <nav class="menu flex-center">
           <ul class="flex-center">
               <li><a href="#header-slide" class="menu-atual" onclick="inicio()" id="header--inicio">Início</a></li>
               <li><a href="#menu" onclick="menu()" id="header--menu">Menu</a></li>
               <li><a href="#contato" onclick="contato()" id="header--contato">Contato</a></li>
           </ul>
       </nav>
    
       <div class="account-icons flex-end">
           <div class="bg-icon flex-center">
                <a href="#" class="flex-center">
                    <img src="/assets/icons/cart.png" alt="">
                </a>
           </div>

           <div class="bg-icon-user flex-center">
                <a href="#" class="user-icon-user flex-center">
                    <img src="/assets/icons/user.png" alt="">
                </a>
            </div>
       </div>
    </div>

</header>